
.text-aligenment{
    text-align: justify;
}
.ltn__top-bar-menu > ul > li,
.ltn__top-bar-menu > ul > li marquee {
    font-weight: 500;
}
.ltn__top-bar-menu > ul > li:last-child {
    font-weight: 700;
}
.ltn__utilize-menu-inner {
    padding-right: 0%;
}
.ltn__utilize-menu > ul > li { 
    margin-top: 0%;
}
.ltn__main-menu ul {
    margin-left: 12.5%;
}
.hide-content{
    visibility: hidden !important;
}

/* Hero Section */
.ltn__slide-item-inner {
    display: none;
}

/* Set proper height for the slider */
.ltn__slider-area {
    position: relative;
    overflow: hidden;
}

.ltn__slide-item {
    position: relative;
    max-height: auto;
    height: 575px;
    max-width: 100% !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Mobile Responsive Styles */
@media (max-width: 1024px) {
    .ltn__slide-item {
        height: 80vh; /* Adjust height for tablets */
    }
}

@media (max-width: 768px) {
    .ltn__slide-item {
        height: 60vh; /* Adjust height for small devices */
    }
    .site-logo-wrap {
        margin: 0% !important;
    }
    .ltn__header-options {
        flex: none !important;
    } 
        .site-logo {
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .ltn__slide-item {
        height: 50vh; /* Adjust height for extra small devices */
    }
}

/*  About Section */
.about-us-info-wrap .ltn__section-title-2 .section-title {
    font-size: 45px;
}
.ltn__section-title-2 {
    margin-bottom: 2.5%;
}
.about-us-info-wrap .ltn__section-title-2 p {
    padding: 0 0 0 10px;
    max-width: 625px;
}
.about-us-info-wrap .btn-wrapper {
    margin-top: 2.5%;
}

/*  Categorys  */
.ltn__category-item {
    background-image: url(../img/categories/product-brush-circle-effect.png); 
    background-repeat: no-repeat;
    background-position: center;
}
.ltn__category-item-img img{
    max-height: 200px;
}
.ltn__category-item {
    border-radius: 4px;
}


/* Global Presence Section */
.global-business {
    background-image: url('/img/countery/global-presence-bg.png');
    height: 600px;
    max-height: 100%;
    background-position: center;
    background-size: cover;
}
.global-business .global-presence .text {
    max-width: 70%;
    margin: 1% auto;
    font-size: 15px;
    font-weight: 400;
    color: #050505;
    text-align: center;
}
.testimonial-slider-flags .swiper-slide {
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.5;
    transform: scale(0.75);
    margin-top: 2.5%;
    margin-bottom: 5%;
}
.testimonial-slider-flags .swiper-slide-active {
    opacity: 1;
    transform: scale(1.1);
}
.flag-img {
    width: 100%;
    height: 100px;
    max-width: 250px;
    margin: 0 auto;
    transition: transform 0.3s ease;
    padding: 5px 12px;
    object-fit: contain;
}
.testimonial-slider-flags .swiper-slide-active .flag-img {
    padding: 0px;
    margin-bottom: 7.5%;
    object-fit: cover;
    border: 1px solid #333;
    border-radius: 12px;
}
.country-name {
    visibility: hidden;
    text-align: center;
    font-size: 16px;
    margin-top: -5px;
    color: #333;
}
.swiper-slide-active .country-name {
    display: block;
    margin-top: -5px;
    visibility: visible;
}
@media (max-width: 991px) {
    .global-business {
        height: 550px;
    }
    .global-business .global-presence .text {
        max-width: 100%;
    }
    .testimonial-slider-flags .swiper-slide-active {
        opacity: 1;
        transform: scale(1);
    }
    .flag-img {
        height: 150px;
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        transition: transform 0.3s ease;
    }
}
@media (max-width: 576px) {
    .global-business {
        height: 600px;
        padding: 5% 0% !important;
    }
    .global-business .global-presence {
        margin: 7.5% auto !important;
    }
    .testimonial-slider-flags .swiper-slide {
        margin-bottom: 10%;
        display: inline-flex;
        justify-content: center;
    }
}




/* Footer */
.footer-widget {
    margin-bottom: 20px;
}
.ltn__copyright-area {
    padding: 30px 0 5px
}