
.text-aligenment{
    text-align: justify;
}
.hide-content{
    visibility: hidden !important;
}
#scrollUp {
    bottom: 7.5%;
}
.btn-effect-1 {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 6px;
}
.btn-effect-1::after,
.btn-effect-1:hover::after {
    border-radius: 6px;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
body,p,
.ltn__section-title-2 p { 
    font-size: 14px;
    line-height: 22px;
}
p {
    margin-bottom: 2.5%;
}
.ltn__header-middle-area {
    background: #fff6e3;
    padding: 0% !important;
}
.site-logo-wrap .site-logo {
    min-width: auto;
    max-width: 200px;
}
.ltn__section-title-2 .section-title {
    font-size: 28px;
    line-height: 34px;
}
.ltn__section-title-2 .section-subtitle {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 0.5%
}
@media (max-width: 575px) {
    body,
    p,
    .ltn__section-title-2 p { 
        font-size: 12px !important;
        line-height: 18px;
    }
    .ltn__section-title-2 .section-title {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .ltn__section-title-2 .section-subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}
.ltn__top-bar-menu > ul > li {
    font-weight: 500;
}
.ltn__top-bar-menu > ul > li marquee {
    font-weight: 500;
    color: #000435;
}
.ltn__top-bar-menu > ul > li:last-child {
    font-weight: 700;
}
.ltn__utilize-menu-inner {
    padding-right: 0%;
}
.ltn__utilize-menu > ul > li { 
    margin-top: 0%;
}
.ltn__main-menu ul {
    margin-left: 12.5%;
}
.ltn__utilize-menu > ul > li .sub-menu li { 
    margin-top: 2.5%;
    text-transform: uppercase;
    list-style: inside;
}

/* Hero Section */
.ltn__slide-item-inner {
    display: none;
}

/* Set proper height for the slider */
.ltn__slider-area {
    position: relative;
    overflow: hidden;
}
.ltn__slide-item {
    position: relative;
    max-height: 100%;
    height: 475px;
    max-width: 100% !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slick-slide-dots-1 .slick-dots {
    bottom: 2.5%;
}
.slick-slide-dots-1 .slick-dots li {
    margin-right: 10px;
}

/* Mobile Responsive Styles */
@media (max-width: 1024px) {
    .ltn__slide-item {
        height: 50vh;
    }
}
@media (max-width: 768px) {
    .ltn__slide-item {
        height: 40vh;
        margin: -2.5% 0%;
        background-size: contain;
    }
    .site-logo-wrap {
        margin: 0% !important;
        justify-content: flex-start !important;
    }
    .ltn__header-options {
        flex: none !important;
    } 
    .site-logo {
        max-width: 200px;
    }
}
@media (max-width: 480px) {
    .ltn__slide-item {
        height: 100%;
        margin: -2.5% 0%;
        background-size: contain;
    }
}


/* Breadcrumb Section */
.ltn__breadcrumb-area {
    margin-bottom: 2.5%;
    padding-top: 100px;
    padding-bottom: 75px;
}
.ltn__breadcrumb-area:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: -9;
    background-color: #000;
}
.ltn__breadcrumb-color-white .ltn__breadcrumb-list li {
    color: var(--ltn__primary-color-2);
}

/*  About Section */
.ltn__section-title-2 {
    margin-bottom: 2.5%;
}
.about-us-info-wrap .ltn__section-title-2 p {
    padding: 0 0 0 10px;
    max-width: 100%;
}
.about-us-info-wrap .btn-wrapper {
    margin-top: 2.5%;
}
.about-us-img-wrap img {
    border-radius: 12px;
    width: 100%;
}

/* Founder Message */
.founder-message p {
    max-width: 100%;
    margin-bottom: 2.5%;
    text-align: justify;
}
.founder-message .ltn__section-title-2 p {
    padding: 0 0 0 10px;
    max-width: 100%;
}
.founder-message .about-img-right {
    margin-left: 0%;
}
.founder-message .about-img-right img {
    border-radius: 12px;
    width: 100%;
}
.founder-message .ltn__progress-bar-wrap {
    margin-bottom: 0px;
}

/*  Categorys  */
.ltn__category-item {
    background-image: url(../img/categories/product-brush-circle-effect.png); 
    background-repeat: no-repeat;
    background-position: center;
}
.ltn__category-item-img img{
    max-height: 200px;
}
.ltn__category-item {
    border-radius: 4px;
}
.ltn__category-area .section-title span {
    color: var(--white);
}

/* Our Products */
.ltn__product-tab-area .product-badge {
    display: none;
}
.ltn__product-tab-area .ltn__tab-menu {
    margin-bottom: 25px;
}
.ltn__product-tab-area .ltn__gallery-filter-menu button,
.ltn__product-tab-area .ltn__tab-menu a {
    padding: 5px 15px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.ltn__product-item-3 {
    padding: 2.5% 0% 0%;
    border: 2px solid var(--border-color-8);
    border-radius: 6px;
}
.ltn__product-item-3 .product-title {
    font-size: 18px;
}
.ltn__product-item-3 .product-info {
    padding: 5px 20px 5px;
}
.ltn__product-item-3 .product-info > ul {
    padding: 5px 0;
    margin-bottom: 0%;
    border-bottom: 1px solid var(--border-color-12);
    border-top: 1px solid var(--border-color-12);
    list-style: none;
}
.ltn__product-item-3 .product-info > ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0%;
}
.ltn__product-item-3 .product-info > ul li strong {
    font-weight: 400;
}
.ltn__product-item-3 .product-info > ul li span {
    font-weight: 600;
}
.product-action {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.product-action ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 1px;
}
.product-action ul li {
    flex: 1;
    text-align: center;
}
.product-action ul li a {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.3s ease;
    background-color: var(--ltn__secondary-color);
    color: var(--white);
    border-color: var(--ltn__secondary-color);
}
.product-action ul li a:hover {
    background-color: var(--white);
    color: var(--ltn__secondary-colorwhite);
}
.product-action ul li:first-child a {
    border-bottom-left-radius: 6px;
}
.product-action ul li:nth-child(2) a {
    border-bottom-right-radius: 6px;
}


.ltn__product-item-3 .btn-wrapper {
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.ltn__product-item-3 .btn-wrapper .btn-effect-1 {
    font-size: 12px;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.ltn__product-item-3 .btn-wrapper .btn-effect-1::after,
.ltn__product-item-3 .btn-wrapper .btn-effect-1:hover::after {
    border-radius: 3px;
}
.ltn__product-item-3 .btn-wrapper .btn i {
    margin-left: 5px;
}


/* Why Choose Us */
.why-choose-us {
    background: #fff6e3;
}
.why-choose-us .ltn__feature-item-3 {
    padding: 25px 10px 15px;
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 12px;
}
.ltn__feature-item-3 .ltn__feature-icon {
    line-height: 1;
    margin: 0px 10px 0 0;
}
.ltn__feature-item-3.text-right .ltn__feature-icon {
    line-height: 1;
    margin: 0px 0 0 10px;
}
.ltn__feature-item-3 .ltn__feature-info h3 {
    font-size: 20px;
}
@media (max-width: 991px) {
    .why-choose-us .ltn__feature-item-3 {
        padding: 25px 15px 15px;
    }
    .ltn__feature-item-3 .ltn__feature-info h3 {
        font-size: 18px;
    }
    .why-choose-us .ltn__feature-item-3.text-right {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        text-align: start !important;
    }
    .why-choose-us .ltn__feature-item-3.text-right .ltn__feature-icon {
        margin: 0px 10px 0 0;
    }
    .why-choose-us .ltn__feature-item-3.text-right::before {
        left: -2px;
        right: auto;
    }
}

/* Call To Action */
.main-cta .ltn__service-form-margin {
    border-radius: 12px;
    background-position: right center;
}
.main-cta .ltn__service-form-margin:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    z-index: -9;
    border-radius: 12px;
    background-color: #000;
}
@media (max-width: 991px) {
    .main-cta .ltn__service-form-margin {
        background-position: center;
    }
    .ltn__service-form-1 .ltn__service-form-brief {
        padding-left: 7.5%;
    }
}

/* Counter Up Area */
.ltn__counterup-area:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    z-index: -9;
    background-color: #000;
}

/* Global Presence Section */
.global-business {
    background-image: url('/img/countery/global-presence-bg.png');
    height: auto;
    max-height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
}
.global-business .global-presence .text {
    max-width: 70%;
    margin: 1% auto;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
    text-align: center;
}
.testimonial-slider-flags .swiper-slide {
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.5;
    transform: scale(0.75);
    margin-top: 5%;
    margin-bottom: 2.5%;
}
.testimonial-slider-flags .swiper-slide-active {
    opacity: 1;
    transform: scale(1.1);
}
.flag-img {
    width: 100%;
    max-width: 250px;
    transition: transform 0.3s ease;
    object-fit: contain;
}
.testimonial-slider-flags .swiper-slide-active .flag-img {
    padding: 0px;
    margin-bottom: 7.5%;
    object-fit: cover;
    border: 1px solid #333;
    border-radius: 12px;
}
.country-name {
    visibility: hidden;
    text-align: center;
    color: #333;
}
.swiper-slide-active .country-name {
    display: block;
    visibility: visible;
}
@media (max-width: 991px) {
    .global-business {
        height: 450px;
    }
    .global-business .global-presence .text {
        max-width: 100%;
    }
    .testimonial-slider-flags .swiper-slide-active {
        opacity: 1;
        transform: scale(1);
    }
    .flag-img {
        height: 150px;
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        transition: transform 0.3s ease;
    }
}
@media (max-width: 576px) {
    .global-business {
        height: 600px;
        padding: 5% 0% !important;
    }
    .global-business .global-presence {
        margin: 7.5% auto !important;
    }
    .testimonial-slider-flags .swiper-slide {
        margin-bottom: 10%;
        display: inline-flex;
        justify-content: center;
    }
}

/* Feature Items */
.ltn__feature-area {
    background: #fff6e3;
}
.ltn__feature-item-8 {
    padding: 40px 10px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ltn__feature-item-8 .ltn__feature-icon {
    margin-right: 0px;
}
.ltn__feature-item-8 .ltn__feature-info p {
    padding: 0% 2.5%;
}

/* Footer */
.ltn__footer-area {
    border-top: 1px solid #ee1d2580;
}
.ltn__footer-area:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -9;
    opacity: 0.5;
    background-color: #fff;
}
.footer-top-area {
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer-widget {
    margin-bottom: 20px;
}
.footer-menu ul li a::before {
    position: absolute;
    content: "\f061";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    opacity: 0;
    visibility: hidden;
    margin-left: -20px;
    color: var(--ltn__secondary-color);
}
.footer-newsletter input[type="email"] {
    margin: 0;
    padding-right: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.footer-newsletter .btn-wrapper .btn {
    padding: 0 18px;
    height: 97.5%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.ltn__social-media ul li a { 
    background: var(--ltn__primary-color);
    color: var(--white);
    border: 1px solid var(--ltn__primary-color);
    padding: 5px 10px;
    border-radius: 50%;
}
.ltn__social-media ul li a:hover { 
    background: var(--white);
    color: var(--ltn__primary-color);
}
.ltn__copyright-area {
    padding-top: 20px;
    padding-bottom: 0px;
    border-top: 1px solid var(--ltn__primary-color) !important;
}
@media (max-width: 575px) {
    .footer-widget .footer-title,
    .footer-menu ul li {
        margin-bottom: 5px;
    }
    .ltn__copyright-menu {
        margin-top: 0px;
    }
    .ltn__copyright-design p {
        font-size: 14px;
        margin: 0% -2.5%;
    }
    .footer-newsletter input[type="email"] {
       height: 40px; 
    }
}

/* Quick View Modal Form */
.ltn__quick-view-modal-area hr,
.ltn__quick-view-modal-area .ltn__social-media {
    display: none;
}
.ltn__quick-view-modal-area .ltn__quick-view-modal-inner .modal-product-item .row {
    align-items: center;
}

/* Enquiry Now Modal Form */
.ltn__enquiry-now-modal-area .modal-header .close {
    z-index: 9;
}
.ltn__enquiry-now-modal-area .modal-dialog {
    margin-top: 7.5%;
}
.enquiry-now-form-box {
    padding: 2.5% 1.25%;
    position: relative;
    z-index: 1;
}
.enquiry-now-form-box .title-2 {
    margin-bottom: 2.5%;
}
.enquiry-now-form-box input::-webkit-input-placeholder {
    color: var(--ltn__color-1);
}
.enquiry-now-form-box input::-moz-placeholder {
    color: var(--ltn__color-1);
}
.enquiry-now-form-box input:-ms-input-placeholder {
    color: var(--ltn__color-1);
}
.enquiry-now-form-box input:-moz-placeholder {
    color: var(--ltn__color-1);
}
.enquiry-now-form-box input[type="text"], 
.enquiry-now-form-box input[type="email"], 
.enquiry-now-form-box input[type="password"], 
.enquiry-now-form-box input[type="submit"],
.enquiry-now-form-box .nice-select,
.enquiry-now-form-box textarea {
    height: 50px;
    line-height: 50px;
    margin-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.enquiry-now-form-box input::placeholder,
.enquiry-now-form-box .nice-select .disabled,
.enquiry-now-form-box textarea::placeholder {
    font-weight: 500;
    color: #9b9b9b;
}  


/* Our Journey */
.ltn__our-journey-area {
    background-image: url('/img/about/tenali-double-horse-our-journey-time-line.webp');
    height: auto;
    max-height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Our History */
.ltn__our-history-inner .about-img-left {
    padding-right: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}
.ltn__our-history-inner .ltn__tab-menu {
    margin-bottom: 0px;
}
.ltn__our-history-inner .ltn__tab-menu a {
    border-radius: 6px;
    padding: 10px 25px;
}
@media (max-width: 991px) {
    .ltn__our-history-inner .ltn__tab-menu a {
        padding: 8px 15px;
    }
}


/* Vission & Mission */
.ltn__vision-mission .ltn__feature-item-6 {
    margin-bottom: 0px;
}
.ltn__vision-mission .ltn__feature-item-6 .ltn__feature-info h3 {
    color: var(--ltn__primary-color);
}
@media (max-width: 574px) {
    .ltn__vision-mission .ltn__feature-item-6 {
        margin-bottom: 5%;
    }
}

/* Contact Us Page */
.title-2 {
    margin-bottom: 10px;
}
.contact-form-box {
    padding: 20px 25px 25px;
}
.ltn__contact-address-item-3 {
    padding: 20px 15px 10px;
    margin-bottom: 2%;
    border-radius: 4px;
}
.ltn__contact-address-item-3 .ltn__contact-address-icon img {
    max-width: 50px;
}
.ltn__contact-address-item-3 h3,
.ltn__contact-address-item-3 p,
.ltn__contact-address-item-3 .ltn__contact-address-icon {
    margin-bottom: 7.5px;
}
.contact-form-box input::placeholder,
.contact-form-box textarea::placeholder {
    color: #9b9b9b;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
textarea,
.input-item .nice-select {
    height: 50px;
    line-height: 45px;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
    border-radius: 4px;
}
.nice-select .option {
    min-height: 25px;
    padding: 1% 5%;
    font-weight: 400;
}
.input-item .nice-select .current {
    background-color: transparent !important;
}
.input-item .nice-select .current,
.nice-select .option.selected.disabled {
    background-color: #ececec;
    color: var(--ltn__paragraph-color) !important;
    font-weight: 400;
}
.nice-select .option.focus, .nice-select .option.selected.focus, .nice-select .option:hover {
    background-color: #ececec;
    color: var(--ltn__paragraph-color);
    font-weight: 600;
}


/* Awards and Recognitions Page */
.ltn__gallery-item-info {
    padding: 20px 15px;
}
.ltn__gallery-item-img img { 
    width: 100%;
}
.ltn__gallery-item:hover .ltn__gallery-item-img::before {
    opacity: 0.5;
    visibility: visible;
}
.ltn__gallery-item .ltn-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 20%;
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--ltn__secondary-color);
    color: var(--white);
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 4.5%;
    right: 2.5%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    z-index: 2;
}
.ltn__gallery-item .ltn__gallery-item-info p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in-out;
}
.ltn__gallery-item:hover .ltn__gallery-item-info p {
    -webkit-line-clamp: unset;
    overflow: visible;
    white-space: normal;
}
@media (max-width: 991px) {
    .ltn__gallery-item .ltn-date {
        left: 2.0%;
    }
    .ltn__gallery-item .ltn__gallery-item-info p {
        -webkit-line-clamp: unset;
        display: block;
        overflow: visible;
        white-space: normal;
    }
    .ltn__gallery-area .mt-100 {
        margin-top: 0px;
    }
}

/* Our Networks Page */
.ltn__brand-logo-item {
    opacity: 0.75;
    filter: grayscale(0.75)
}
.ltn__brand-logo-item img {
    border-radius: 8px;
}
@media (max-width: 574px) {
    .ltn__our-networks .pt-250 {
        padding-top: 100px;
    }
    .ltn__our-networks .pb-250 {
        padding-bottom: 100px;
    }
}

/* News and Events Page */
.ltn__news-events-area .ltn__service-item-1 {
    background-color: #F7F5EB;
    margin-bottom: 5%;
}

/* CSR Initiatives Page */
.ltn__csr-initiatives-area .ltn__blog-brief p {
    padding: 10px;
}
.ltn__csr-initiatives-area .ltn__blog-item-3 {
    margin-bottom: 5%;
}




.ltn__pagination ul,
.ltn__pagination-area ul {
    display: none
}